@font-face {
    font-family: "JetBrainsMono NF";
    src: url("fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

.root-container {
    -fx-background-color: black;
    -fx-border-color: #333333;
    -fx-border-width: 1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.title-bar {
    -fx-background-color: #1a1a1a;
    -fx-padding: 0 0 0 10;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.title-label {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: "JetBrainsMono NF";
}

.close-button {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-focus-traversable: false;
    -fx-background-radius: 0 10 0 0;
    -fx-border-radius: 0 10 0 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-width: 0;
}

.close-button:hover {
    -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}

.blackhole-shape {
    -fx-fill: purple;
    -fx-stroke: #301934;
    -fx-stroke-width: 3;
}
